.app_green_theme {
    --bg-color: #73e15b;
    --inverted-bg-color: #b5db39;
    --primary-color: #f5fbf4;
    --secondary-color: #f5fbf4;
    --inverted-primary-color: #f1f1f1;
    --inverted-secondary-color: #fff;
}
