.app_green_theme {
  --bg-color: #73e15b;
  --inverted-bg-color: #B5DB39;
  --primary-color: #F5FBF4;
  --secondary-color: #F5FBF4;
  --inverted-primary-color: #f1f1f1;
  --inverted-secondary-color: #fff;
}